@import "utils.less";

.beacons() {
  table {
    border-collapse: collapse;
    border-style: none;

    tr {
      border-style: none;
      background-color: burlywood;

      td, th {
        padding: 4px;
        margin: 4px;
        .textFont(0.8em);
      }

      td {
        border-width: 2px;
        border-style: solid inset;
        border-color: white burlywood;
        background-color: bisque;

        &.mac {
          .monoFont(0.8em);
        }
        &.l {
          text-align: left;
        }
        &.c {
          text-align: center;
        }
        &.r {
          text-align: right;
        }
      }

      &.active {
        background-color: red;

        td {
          background-color: red;
          border-color: white red;
        }
      }
    }
  }
}


.records()
{
  padding: 10px;
  border-right: 1px solid black;
  table {
    .table(0.5em);
    tr.anomaly td {
      font-style: italic;
      color: red;
    }
  }
}

.graph(){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin:0;
  height: 100%;
  flex: 1;
  figure {
    max-height: 30vh;
    padding: 1em;
  }
}