@import "utils.less";



.controls() {
  margin: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
  #dates {
  margin: auto;
    label {
      .textFont(0.8em);
      padding-right: 20px;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-content: baseline;
      * {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
#data {
  button {
    width: 200px;
    height: 100px;
    background-color: greenyellow;
    border-color: green;
    border-radius: 16px;
    .textFont;
    font-weight: bold;
    margin: 10px 50px;
  }
}
}

.beacons() {
  margin: 10px;
  table {
    border-collapse: collapse;
    border-style: none;

    tr {
      border-style: none;
      background-color: burlywood;

      td, th {
        padding: 4px;
        margin: 4px;
        .textFont(0.8em);
      }

      td {
        border-width: 2px;
        border-style: solid inset;
        border-color: white burlywood;
        background-color: bisque;

        &.mac {
          .monoFont(0.8em);
        }
        &.l {
          text-align: left;
        }
        &.c {
          text-align: center;
        }
        &.r {
          text-align: right;
        }
      }

      &.active {
        background-color: red;

        td {
          background-color: red;
          border-color: white red;
        }
      }
    }
  }
}


.records()
{
  padding: 10px;
  border-right: 1px solid black;
  table {
    .table(0.5em);
    tr.anomaly td {
      font-style: italic;
      color: red;
    }
  }
}

.graph(){

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    height: 100%;
    flex: 1;
    button {
      padding: 4px;
      margin: 1em;
      border-radius: 4px;
      border-style: none;
      background: burlywood;
      color: black;
      &:hover {
        background: brown;
        color: white;
      }
    }
    figure {
      max-height: 30vh;
      padding: 1em;
    }

}