@import "reset.less";
@import "media.less";
@import "parts.less";

body {
  .standard_colours;
  display: flex;
  .flex_flow;
  width: 100%;
  margin: 0;
  justify-content: flex-start;

  header {
    #beacons {
      .beacons;
    }
    #controls {
      .controls;
    }
  }

  main {
    flex-grow: 1;

    section#graph {
      .graph;
    }
    section#notifications {
      .notifications;
    }
  }
}
