@import "reset.less";
@import "parts.less";

body {
  header {
    #dates {
      .dates;
    }
    #beacons {
      .beacons;
    }
    #data {
      button {
        width: 200px;
        height: 100px;
        background-color: greenyellow;
        border-color: green;
        border-radius: 16px;
        .textFont;
        font-weight: bold;
        margin: 10px 50px;
      }
    }
  }

  main {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-around;

    section#records {
      .records;
    }

    section#graph {
      .graph;
    }

  }
}






