@import "reset.less";
@import "parts.less";

body {
  header {
    .beacons;
  }

  main {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-around;

    section#records {
      .records;
    }

    section#graph {
      .graph;
    }

  }
}






