@import "media.less";

.textFont(@size : 1em) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: @size;
}

.monoFont(@size : 1em) {
  font-family: Courier, sans-serif;
  font-size: @size;
}

.inputs() {
  margin: 2px;
  padding: 2px;
  .standard_colours;
}



.border(@on : true) {
  border-style: if((@on = true), solid, none);
  .border_colours;
  border-width: 1px;
}

.table(@fontSize, @borderOn: true) {
  border-collapse: collapse;
  .border(@borderOn);
  tr {
    &.hide {
      display: none;
    }
  }
  td, th {
    .border(true);
    .textFont(@fontSize);
    padding: 0 4px 0 4px;
    text-align: center;
  }
}